fieldset {
    text-align: center;
    vertical-align: middle;
}

input {
    margin: auto;
    text-align: center;
}

#errorDiv {
    background-color: rgb(255, 150, 150);
    text-align: center;
}

#submit {
    margin-top: 10px;
    border-radius: 6px;
    background-color: rgb(150, 230, 150);
}

#ccFieldset {
    padding: auto;
}

#phoneInput {
    width: 5%;
}

#phoneInput2 {
    width: 8%;
}

